@media only screen and (max-width:480px) {
.container {
    margin:20px;
}
.inner {
    background-repeat: no-repeat!important;
    background-size: auto 100%!important;
    background-position: 50%!important;
}
}

a {
    color: #f5fdff;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s all ease;
}

a:hover {
    color: #abcdd8;
}
body {
    margin: 0;
    height: 100vh;
    color:white;
    font-family: 'Poppins', sans-serif;;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.inner {
    text-shadow: 0 0 10px black;
    width: 600px;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://lh3.googleusercontent.com/drive-viewer/AFGJ81o41trA_r9AhSd-_UBmaq-FvUv6dSpQN1ZZ-uaXXBZxGKQwKGh608Vfd-cVdiEWm1l8E2S4H3hYB8rLhqq-ZCS38dDYqA=w1920-h902) 100%;
    background-size: 100%;
    padding: 20px;
    border-radius: 3px;
    border: 2px dashed gray;
    box-shadow: 10px 10px 0 #cdcdcd;
}

.collapsible {
    background: #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    text-align:left;
    border: none;
    width: 100%;
    justify-items: start;
    font-weight: 700;
    margin: 2px 0;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  float: right;
  margin-left: 5px;
  filter:brightness(0);
  transform:translateY(1.5px)
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapse-content {
  max-height:0;
  overflow:hidden;
  transition: max-height 0.2s ease-out;
  background: #0000003d;
  margin-left: 0!important;
  color: #e2faff;
  backdrop-filter: blur(2px);
  border-radius: 15px;
  padding-left: 20px;
  margin-bottom: 10px;
}
